$fuentePrincipal: 'Josefin Sans', sans-serif;
//COLORES
$azulOscuro: #050517;
$rojo: #500202;
$gris: #B9B7B6;
$blanco: #FFFFFF;


// MEDIA QUERIES



//FUENTES

$delgada: 300;
$regular: 400;
$bold: 700;


//SEPARACIONES

$separacion: 5rem;