$fuentePrincipal: 'Roboto', sans-serif;

//COLORES
$negro: #1D1C21;
$naranja: #da7204;
$blanco:#DCDDDB;
$verde: #CFFF68;

// MEDIA QUERIES
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;

//FUENTES

$delgada: 300;
$regular: 400;
$bold: 700;

//SEPARACIONES

$separacion: 5rem;